doctype html
html(lang="en")
  head
    title Dashboard

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='apple-touch-icon' href='/img/icon-iphone-old.png')
    link(rel='apple-touch-icon' sized='72x72' href='/img/icon-ipad.png')
    link(rel='apple-touch-icon' sized='114x114' href='/img/icon-retina.png')
    link(href='http://fonts.googleapis.com/css?family=Lato:200,300,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')

  body

    block content
